<%= provide(:title, 'About Me') %>
<h1>Historical Battle#About Me</h1>
<p>This is duplication and updated version of my previous assignment back in UK-master period. Using Rails 4.0.0 instead of original app under Rails 3.2.13<p>
